@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary-color: #1fb2c8;
    --secondary-color: #d75449;
    --text-color: #252525;
    --text-color-inverted: #fff;
    --text-color-muted: #999999;
    --bg-color: 255, 251, 235;
    --nav-color: 255, 255, 255;
    --paper-color: #fff;
    --elevation-1: rgba(255, 255, 255, 0.05);
    --elevation-2: rgba(255, 255, 255, 0.07);
    --elevation-3: rgba(255, 255, 255, 0.09);
    --elevation-4: rgba(255, 255, 255, 0.12);
    --elevation-5: rgba(255, 255, 255, 0.18);
    --drawer-root-z: 1200;
    --dialog-root-z: 1100;
  }
  html[class="dark"] {
    --primary-color: #83c9ce;
    --secondary-color: #e09794;
    --text-color: #fff;
    --text-color-inverted: #252525;
    --text-color-muted: #cdcdcd;
    --bg-color: 37, 37, 37;
    --nav-color: 37, 37, 37;
    --paper-color: #252525;
  }
  html {
    scroll-behavior: smooth !important;
    font-family: "Inter", sans-serif;
  }
  body {
    @apply min-h-screen transition-colors duration-200 bg-body text-main;
  }
}
@layer utilities {
  .elevation-1 {
    @apply shadow-sm bg-elevation-1;
  }
  .elevation-2 {
    @apply shadow-md bg-elevation-2;
  }
  .elevation-3 {
    @apply shadow-lg bg-elevation-3;
  }
  .elevation-4 {
    @apply shadow-xl bg-elevation-4;
  }
  .elevation-5 {
    @apply shadow-2xl bg-elevation-5;
  }
}
@layer components {
  .btn {
    @apply px-2 py-2 font-system rounded-md  inline-flex items-center justify-center shadow-md;
  }
  .btn-lg {
    @apply px-6 py-4 text-xl;
  }
  .btn-primary {
    @apply font-semibold  bg-primary hover:-translate-y-1 hover:shadow-lg transition-transform;
  }
  .navbar {
    @apply fixed bg-opacity-25 bg-nav z-[1] backdrop-blur-md  top-0 left-0 right-0;
  }
  .paper {
    @apply bg-paper rounded;
  }
  .drawer {
    @apply z-drawer fixed  paper rounded-none elevation-5 overflow-y-auto;
  }
  .dialog {
    @apply m-4 paper elevation-5 overflow-y-auto;
  }
}
